body {
  background-color: black;
  color: white;
}

.wrapper {
  margin: 0;
  color: white;
  text-align: center;
}

.nav {
  width: 100%;
  position: relative;
}

.nav > .nav-btn {
  display: none;
}

.nav-links {
  width: 100%;
  text-align: center;
}
.nav-links {
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: inline-block;
  font-size: 1.2em;
}

.nav > #nav-check {
  display: none;
}

/* .TopContainer {
  font-size: 15rem;
  font-weight: 700;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
} */

.imgcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 70%;
  margin: auto;
  flex-wrap: wrap;
}

.imgcontainer img{
  width:500px;
  height:400px;
}

.imgcontainer .imgDescription{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 15px;
}

.ideate{
  background: -webkit-linear-gradient( #FDC830, #FDC83030);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.calendar{
  background: -webkit-linear-gradient( #09F4CA, #09F4CA30);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  font-size: 35px;
  font-weight: bold;
  margin-top:20px;
}

.calendar img{
  width:35px;
  height:35px;
}


.CounterContainer {
  background: -webkit-linear-gradient( #FDC830, #FDC83030);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

#CountNumber {
  font-size: 7rem;
  font-weight: bold;
  /* margin-top:30px; */
}

#daystogo {
  font-weight: bold;
  font-size: 35px;
  margin-top: 45px;
}

/* .imgcontainer {
  
}

.imgcontainer img {
  max-width: 100%;
  max-height: 100vh;
} */

/* .Itrixlogoimg {
  position: absolute;
  top: 1em;
  left: 2em;
  height: 10%;
  width: 10%;
  padding-left: 1em;
} */

.detscontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  margin: auto;
}

.detsbox {
  padding: 10px;
  margin: 10px 20px;
  background-color: rgba(35, 37, 38, 0.925);
  width: 210px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
}

.detsbox .circle {
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.detsbox:nth-child(1) .circle {
  background-color: rgba(97, 227, 51, 1);
}

.detsbox:nth-child(2) .circle {
  background-color: rgba(51, 217, 227, 1);
}

.detsbox:nth-child(3) .circle {
  background-color: rgba(51, 69, 227, 1);
}

.detsbox:nth-child(4) .circle {
  background-color: rgba(251, 227, 16, 1);
}

.detsbox:nth-child(5) .circle {
  background-color: rgba(227, 51, 93, 1);
}

.detsbox .highcontent {
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.detsbox .content {
  color: rgba(255, 255, 255, 0.66);
  padding-top: 5px;
  font-weight: bold;
}

.gallery h2 {
  margin-top: 1em;
  margin-bottom: 0px;
  color: white;
}

div.gallery {
  /* border: 1px solid #ccc; */
  margin: 1em;
}

div.gallery:hover {
  /* border: 1px solid #777; */
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}



@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

/* Above Tablet */
@media only screen and (max-width: 1175px) {
  .imgcontainer{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .imgcontainer .imgDescription{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ideate{
    align-items: center;
    justify-content: center;
  }
}

/* Both Tablet and Mobile */
@media only screen and (max-width: 1023px) {
  .detscontainer {
    width: 100%;
  }
  .imgcontainer{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .imgDescription{
    align-items: center;
    justify-content: center;
  }
}

/* Tablet only */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .nav > .nav-btn {
    display: inline;
    float: right;
  }
  .nav-btn > label {
    display: inline-block;
    padding: 15px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 30px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgba(37, 37, 37, 0.845);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav-links a {
    display: block;
    padding: 25px;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }

}

@media (max-width: 767px) {

  .nav > .nav-btn {
    display: inline;
    float: right;
  }
  .nav-btn > label {
    display: inline-block;
    padding: 15px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 30px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgba(37, 37, 37, 0.845);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav-links a {
    display: block;
    padding: 25px;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }

  .imgcontainer{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    /* margin-top: 100px; */
    position: relative;
    top:100px;
    padding-bottom: 100px;
    z-index: -10;
  }
  .imgDescription{
    align-items: center;
    justify-content: center;
  }
}
