.wrapper {
  margin: 0;
  color: white;
  text-align: center;
}
.nav {
  width: 100%;
  position: relative;
}

.nav > .nav-btn {
  display: none;
}

.nav-links {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  /* padding-top: 1em; */
  padding-right: 50px;
}
.quicklinkss a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 100%;
  padding-bottom: 0.8em;
  padding-left: 1em;
  /* margin-top: 1.3em; */
  /* margin-bottom: 1.3em; */
}

.nav > #nav-check {
  display: none;
}

.imgcontainer {
  width: 100%;
  margin: auto;
}

.imgcontainer img {
  max-width: 100%;
  max-height: 100%;
}

.detscontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  margin: auto;
}

.Itrixlogoimg {
  height: 10vh;
  padding-left: 2em;
}

#ItrixImgLargeScreen {
  display: block;
}

#ItrixImgSmallScreen {
  
  display: none;
}
/* Above Tablet */
@media only screen and (min-width: 1024px) {
}

/* Both Tablet and Mobile */
@media only screen and (max-width: 1023px) {
  #ItrixImgSmallScreen {
    
    height: 8vh;
    padding: 1em;
    margin-bottom: 2em;

  }
}

/* Tablet only */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .quicklinks {
    display: flex;
    /* font-size: 34; */
    justify-content: space-between;
    align-items: center;
    width: 70vw;
  }
  
}

@media (max-width: 1000px) {
  .nav > .nav-btn {
    display: inline;
    float: right;
    margin-top: 1em;
  }
  .nav-btn > label {
    display: inline-block;
    padding: 15px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 30px;
    height: 10px;
    border-top: 2px solid rgb(255, 255, 255);
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgba(37, 37, 37, 0.845);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    padding: 0;
  }
  .nav-links a {
    display: block;
    padding: 25px;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
  #ItrixImgLargeScreen {
    display: none;
  }
  #ItrixImgSmallScreen {
    display: block;
    height: 8vh;
    padding: 1em;
    margin-bottom: 2em;

  }
}

.quicklinks {
  display: flex;
  /* font-size: 34; */
  justify-content: space-between;
  align-items: center;
  width: 70vw;
}
