.nav {
  width: 100%;
  position: relative;
}

.nav > .nav-btn {
  display: none;
}

.nav-links {
  width: 100%;
  text-align: center;
}
.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: inline-block;
  padding: 25px;
}

.nav > #nav-check {
  display: none;
}

.imgcontainer {
  width: 100%;
  margin: auto;
}

.imgcontainer img {
  max-width: 100%;
  max-height: 100%;
}

.detscontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  margin: auto;
}

.detsbox {
  padding: 10px;
  margin: 10px 20px;
  background-color: rgba(35, 37, 38, 0.925);
  width: 210px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
}

.detsbox .circle {
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.detsbox:nth-child(1) .circle {
  background-color: rgba(97, 227, 51, 1);
}

.detsbox:nth-child(2) .circle {
  background-color: rgba(51, 217, 227, 1);
}

.detsbox:nth-child(3) .circle {
  background-color: rgba(51, 69, 227, 1);
}

.detsbox:nth-child(4) .circle {
  background-color: rgba(251, 227, 16, 1);
}

.detsbox:nth-child(5) .circle {
  background-color: rgba(227, 51, 93, 1);
}

.detsbox .highcontent {
  font-size: 40px;
  font-weight: bold;
}

.detsbox .content {
  color: rgba(255, 255, 255, 0.66);
  padding-top: 5px;
}

.gallery h2 {
  margin-top: 20px;
  margin-bottom: 0px;
}

.gallerybox {
  margin-bottom: 30px;
}

.gallerybox img {
  width: 300px;
  height: 280px;
  margin: 15px;
  background-color: aquamarine;
}

/* Above Tablet */
@media only screen and (min-width: 1024px) {
}

/* Both Tablet and Mobile */
@media only screen and (max-width: 1023px) {
  .detscontainer {
    width: 100%;
  }
}

/* Tablet only */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

@media (max-width: 767px) {
  .nav > .nav-btn {
    display: inline;
    float: right;
  }
  .nav-btn > label {
    display: inline-block;
    padding: 15px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 30px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgba(37, 37, 37, 0.845);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav-links a {
    display: block;
    padding: 25px;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
