@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

#registerbtn{
  color: #2098d8;
}
.EventsContainer {
  font-size: 50%;
  background-color: black;
  color: white;
  width: 100%;
  font-weight: 700;
}

.EventMainHeading {
  font-size: 3.6em;
  margin-bottom: 1em;
  margin-left: 2em;
}

.EventSubHeading {
  font-size: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
  line-height: 2.4em;
  /* letter-spacing: 0.05em; */
}

.EventSubSubHeading {
  font-size: 2.6em;
  line-height: 3.1em;
  margin-bottom: 2em;
}

.EventObjectContainer {
  display: flex;
  width: 100%;
  /* gap: 15em; */
  row-gap: 5em;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.EventObject {
  /* background-color: #c4c4c4; */
  height: 35em;
  width: 35em;
  margin: 3em;
}

.EventImage {
  height: 35em;
  width: 35em;
}

.EventObject:hover {
  border: solid darkcyan 0.5em;
}
.Teamnameandrole{
  font-size: large;
}

@media screen and (max-width: 600px) {
  .EventsContainer {
    padding: 1em;
  }
  .EventObject {
    margin: 1em;
  }
}
